.siteHeader {
  display: flex;
  height: 4rem;
  background-color: rgb(134, 226, 226);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  }

  .siteHeaderImage {
    height: 2rem;
    width: auto;
    margin-left: 1rem;
  }