.siteHeader {
  display: flex;
  height: 8rem;
  background-color: #15616d;
  justify-content: space-between;
  align-items: center;
  color: #ffecd1;
}

.headerLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.logoTitle {
  display: flex;
  align-items: center;
}

.siteHeading {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}

.siteHeaderImage {
  height: 4rem;
  width: auto;
  margin: 0 2rem;
  border-radius: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  list-style: none;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: border 0.2s ease-in;
  cursor: pointer;
}

.navLink:hover {
  border: 1px solid #ffecd1;
}
