.container {
  container-type: inline-size;
  container-name: header;
}

.siteHeader {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #15616d;
  align-items: center;
  color: #ffecd1;
  gap: 1rem;
}

.headerLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.logoTitle {
  display: flex;
  align-items: center;
}

.siteHeading {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}

.siteHeaderImage {
  height: 4rem;
  width: auto;
  margin-right: 2rem;
  border-radius: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* margin-right: 2rem; */
  list-style: none;
}

.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: border 0.2s ease-in;
  cursor: pointer;
}

.navLink:hover {
  border: 1px solid #ffecd1;
}

@container header (min-width: 768px) {
  .siteHeader {
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
    padding: 0 2rem;
  }
}
