.modal_content {
    position: fixed;
    top: 4rem;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    max-width: 500px;
    min-width: 350px;
    padding: 3rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
}