.container {
  width: 500px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;

  h2 {
    font-size: 1.25rem;
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}

.form > button {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.form > button:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input > input {
  padding: 0.25rem;
}

.error {
  color: red;
}
