.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
}

.listItem {
  height: fit-content;
  min-width: 150px;
  padding: 0.5rem 1rem;;
  border-radius: 0.5rem;
  align-content: center;
  color: white;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.red {
  background-color: #c23333;
  &:hover {
    background-color: #e04b4b;
  }
}

.amber {
  background-color: #d37506;
  &:hover {
    background-color: #f28c00;
  }
}

.green {
  background-color: #198754;
  &:hover {
    background-color: #27a36d;
  }
}
