.container {
  display: grid;
  grid-template-areas:
    "info modules modules"
    "learnings modules modules"
    "learnings modules modules";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  padding: 1rem;
  background-color: #000;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  gap: 2px;
  text-align: center;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;

  & button {
    padding: 0.25rem 0.5rem;
  }
}

.learnings {
  grid-area: learnings;
  background-color: #fff;
  padding: 1rem;
}

.modules {
  grid-area: modules;
  background-color: #fff;
  padding: 1rem;
}
