.container {
  container-type: inline-size;
  container-name: dashboard;
}

.containerContent {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  background-color: #000;
  gap: 2px;
  text-align: center;
  height: 100%;
  max-height: calc(100vh - 9rem);
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
}

.learnings {
  background-color: #fff;
  padding: 1rem;
  overflow-y: scroll;
}

.modules {
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

@container dashboard (min-width: 768px) {
  .containerContent {
    display: grid;
    grid-template-areas:
      "info modules modules"
      "learnings modules modules"
      "learnings modules modules";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
  }

  .info {
    grid-area: info;
  }

  .learnings {
    grid-area: learnings;
  }

  .modules {
    grid-area: modules;
  }
}
