.display {
    background-color: white;
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
  }

  .uList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  .uListItem {
    width: 40%;
  }

  .button {
    border: none;
    width: 100%;
    height: 8rem;
  }