.main {
  display: grid;
  background-color: darkgray;
  grid-template-columns: 0.5fr 1fr;
  height: 90%;
  padding: 2em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

.siteForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contentInput {
  display: flex;
  background-color: lightgray;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.display {
  background-color: white;
  padding: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.wide {
  width: 100%;
  padding: 2em;
  height: 30%;
}